/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Raleway:wght@200;300;400;800&family=Roboto:wght@300;400&display=swap');
/*END FONTS*/

/*COMMON STYLES*/
body {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	font-family : 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}
p,
h1, h2, h3,
ul, ol {
	margin: 0;
	padding: 0;
}
/*END COMMON STYLES*/

/*START PAGE HEADER BLOCK*/
.page-header {
    width: 100%;
    padding: 40px 0 42px 0;
	box-sizing: border-box;
	background-image: linear-gradient(rgba(17,17,17,0.2), rgba(17,17,17,0.2)),
					  url(../img/header-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #1d1e22;
	color: #fff;
}
.page-header-menu-wrp {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 0 285px 0;
	box-sizing: border-box;
}
.page-header-logo {
	display: flex;
}
.page-header-logo-pic {
	fill:#fff;
}
.page-header-logo-txt {
	font-family: 'Raleway';
	font-size: 34px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.04em;
	align-self: center;
	color: #fff;
}
.page-header-logo:hover .page-header-logo-pic {
	fill: #d1a47d;
}
.page-header-logo:active .page-header-logo-pic {
	fill: #675e56;
}
.page-header-logo:hover .page-header-logo-txt {
	color: #d1a47d;
}
.page-header-logo:active .page-header-logo-txt {
	color: #675e56;
}
.page-header-menu-list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	align-items: center;
}
.page-header-menu {
	align-self: center;
}
.page-header-menu-list-item {
	margin: 0 30px 0 0;
}
.page-header-menu-list-item:nth-child(8){
	margin: 0 60px 0 0;
}
.page-header-menu-list-item:last-child {
	padding: 0;
	margin: 0;
}
.page-header-menu-list-item-link {
	color: #ffffff;
}
.page-header-menu-list-item-link:hover {
	color: #c7b299;
}
.page-header-menu-list-item-link:active {
	color: #917553;
}
.page-header-menu-list-svg {
	fill: #fff;
}
.page-header-menu-list-svg:hover {
	fill: #c7b299;
}
.page-header-menu-list-svg:active {
	fill: #917553;
}
.page-header-wrp {
	max-width: 1540px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.page-header-arrow {
	align-self: center;
	padding: 0 0 330px 0;
    box-sizing: border-box;
}
.previous,
.next {
	fill: #fff;
}
.previous:hover,
.next:hover {
	fill: #d3c1ad;
}
.previous:active,
.next:active {
	fill: #917553;
}
.page-header-content {
	text-align: center;
	font-family: 'Raleway';
	padding: 0 0 330px 0;
	box-sizing: border-box;
}
.page-header-content-subtitle {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 500;
}
.page-header-content-title {
	font-size: 52px;
	line-height: 1.2;
	font-weight: 800;
	padding: 14px 0 20px 0;
	box-sizing: border-box;
}
.page-header-content-txt {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	max-width: 560px;
	margin: 0 auto;
	padding: 0 0 50px 0;
	box-sizing: border-box;
}
.page-header-content-btn {
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 23px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffffff;
	width: 170px;
	background-color: #998675;
	box-shadow: inset 0px -3px 0px 0px #736357;
	border-radius: 3px;
	padding: 21px 37px;
	box-sizing: border-box;
}
.page-header-content-btn:hover {
	background-color: #fff;
	color: #998675;
	box-shadow: inset 0px -3px 0px 0px #fff;
}
.page-header-content-btn:active {
	box-shadow: inset 0px -3px 0px 0px #d1a47d;
}
.page-header-slider {
	max-width: 1540px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.page-header-slider-item {
	padding:0 25px 0 0;
}
.page-header-slider-item::before {
	content: "";
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	display: block;
	width: 10px;
	height: 10px;
	opacity: 0.5;
}
.page-header-slider-item:hover::before {
	width: 12px;
	height: 12px;
	border: 3px solid #d3c1ad;
	background-color: transparent;
}
.page-header-slider-item:active::before {
	width: 12px;
	height: 12px;
	border: 3px solid #d3c1ad;
	background-color: #d3c1ad;
}
/*END PAGE HEADER BLOCK*/

/*START SERVICES BLOCK*/
.services {
	max-width: 1180px;
	margin: 0 auto;
	padding: 80px 0 0 0;
	box-sizing: border-box;
	text-align: center;
}
.services-wrp {
	display: flex;
	padding: 0 0 165px 0;
}
.services-item {
	padding: 0 0 24px 0;
	box-sizing: border-box;
}
.services-item::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 24px auto 0 auto;
	background-color: #f1eee9;
}
.services-item:hover .services-item-pic {
	fill: #c7b299;
}  
.services-item:hover .services-item-title {
	color: #c7b299;
}
.services-item:hover::after {
	background-color: #c7b299;
  }
.services-item-pic {
	width: 50px;
	height: 50px;
	fill: #555555;
}
.services-item-title {
	font-family: 'Raleway';
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	padding: 30px 0 20px 0;
	box-sizing: border-box;
}
.services-item-txt{
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #8c8c8c;
}
.services-title {
	font-family: 'Raleway';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
}
.services-txt {
	max-width: 755px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	padding: 24px 0 40px 0;
	box-sizing: border-box;
}
.services-screenshots {
	min-height: 482px;
	background: 
	url(../img/browser-center.jpg),
	url(../img/browser-left.jpg),
	url(../img/browser-right.jpg);
	background-size: 60%, 40%, 40%;
  	background-repeat: no-repeat;
  	background-position: bottom center, bottom left, bottom right;
}
/*END SERVICES BLOCK*/	

/*START AD BLOCK*/
.ad {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 150px;
	padding: 20px;
	box-sizing: border-box;
	background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}
.ad-wrapper {
	width: 531px;
	margin: 0 470px 0 0;
}
.ad-title {
	width: 100%;
	font-size: 28px;
	font-family: "Raleway";
	color: #fff;
	line-height: 1.2;
	text-align: left;
}
.ad-title span {
	color: rgb(199, 178, 153);
}
.ad-txt {
	width: 100%;
	margin: 0;
	font-size: 18px;
	color: rgb(97, 88, 85);
	line-height: 1.2;
	text-align: left;
}  
.ad-button {
	width: 170px;
	min-height: 50px;
	border: none;
	border-bottom: 2px solid #736357;
	border-radius: 3px;
	background-color: #998675;
	box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
}  
.ad-button-txt {
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.643;
	text-align: center;
}
.ad-button:hover {
	background-color: #fff;
}
.ad-button:hover .ad-button-txt{
	color: #998675;
}
.ad-button:active {
	background-color: #fff;
}
.ad-button:active .ad-button-txt{
	color: #736357;
}
/*END AD BLOCK*/

/*START PROJECTS BLOCK*/
.projects {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 81px 0 80px 0;
	box-sizing: border-box;
}
.projects-title {
	width: 100%;
	text-align: center;
	font-family: 'Raleway';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
}
.projects-txt {
	max-width: 760px;
	margin: 0 auto;
	padding: 24px 0 40px 0;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
}
.projects-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 0 40px 0;
	box-sizing: border-box;
}
.projects-nav-item {
	padding: 0 10px 0 0;
	box-sizing: border-box;
	list-style-type: none;
}
.projects-nav-item:last-child {
	padding: 0;
}
.projects-nav-item-link{
	padding: 11px 25px;
	border: 1px solid #ebebeb;
	border-radius: 10px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	color: #8c8c8c;
}
.projects-nav-item-link:hover {
	border-color: #998675;
	background-color: #998675;
	color: #fff;
}
.projects-nav-item-link:active {
	border-color:#555;
	background-color: #555;
	color: #fff;
}
.projects-item {
	max-width: 360px;
	margin: 0 30px 30px 0;
	padding: 0 0 30px 0;
	box-sizing: border-box;
	background-color: #fbfaf8;
	position: relative;
}
.projects-item:hover {
	background-color: #362f2d;
}
.projects-item:hover .projects-item-pic {
	opacity: 0.3;
}
.projects-item:hover .projects-item-menu {
	display: block;
}
.projects-item:hover .projects-item-title {
	color: #ffffff;
}
.projects-item:hover .projects-item-title::after {
 	border-bottom-color: #362f2d;
}
.projects-item:hover .projects-item-link {
	color: #c7b299;
}
.projects-item-pic {
	max-width: 360px;
	background-color: rgba(17,17,17,0.7);
}
.projects-item-menu {
	position: absolute;
	top: 32%;
	left: 39%;
	fill: #fff;
	display: none;
}
.projects-item-menu-link {
	padding: 0 28px 0 0;
	box-sizing: border-box;
}
.projects-item-menu-link:hover {
 	fill: #c7b299;
}
.projects-item-menu-link:active {
	fill: #736357;
}
.projects-item-title {
	padding: 30px 0 10px 30px;
	box-sizing: border-box;
	font-family: 'Raleway';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #c7b299;
	position: relative;
}
.projects-item-title::after {
	content: ''; 
    position: absolute;
	left: 30px;
	top: -30px;
    border: 15px solid transparent; 
    border-bottom: 15px solid #fbfaf8;
}
.projects-item-link {
	padding: 0 0 0 30px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #d1d1d1;
}
.projects-btn {
	margin: 40px auto 0 auto;
	padding: 15px 30px;
	box-sizing: border-box;
	background-color: #998675;
	border: 1px solid transparent;
	border-radius: 5px;
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 23px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffffff;
}
.projects-btn:hover {
	color: #998675;
	background-color: #fff;
	border-color: #998675;
}
.projects-btn:active {
	color: #555;
	background-color: #fff;
	border-color: #998675;
}
/*END PROJECTS BLOCK*/

/*START VIDEO BLOCK*/
.video {
	width: 100%;
	margin: 0 auto;
	background-color: #675e56;
	color: #ffffff;
	text-align: center;
	position: relative;
}
.background-video {
	width: 100%;
  	height: 705px;
  	object-fit: cover;
}
.video-wrp {
	max-width: 565px;
	position: absolute;
	top: 33%;
	left: 35%;
}
.video-btn {
	fill: #fff;
}
.video-btn:hover {
	fill: #917553;
}
.video-btn:active {
	fill: #555;
}
.video-title {
	font-family: 'Raleway';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
	color: #ffffff;
	padding: 60px 0 0 0;
	box-sizing: border-box;
}
.video-txt {
	
	margin: 0 auto;
	padding: 40px 0 30px 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}
.video-txt-time {
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #c7b299;
}
/*END VIDEO BLOCK*/

/*START MOBILE SECTION*/
.mobile {
    max-width: 1180px;
    padding: 80px 0 0 0;
    box-sizing: border-box;
	margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.mobile-pic {
	align-self: flex-end;
}
.mobile-wrp {
    max-width: 662px;
	align-self: center;
	padding: 0 0 0 30px;
}
.mobile-title {
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    color: #555;
	line-height: 1.2;
}
.mobile-txt {
    padding: 40px 0 45px 0;
    box-sizing: border-box;
    color: #8c8c8c;
    font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}
.mobile-list {
    list-style-type: none;
}
.mobile-list-item {
    padding: 0 0 0 50px;
    box-sizing: border-box;
    color: #8c8c8c;
    font-size: 16px;
	line-height: 32px;
	font-weight: 300;
}
.mobile-list-item::before {
    content: url(../img/arrow.svg);
    display: inline-block;
    width: 21px;
    height: 26px;
    padding: 0 30px 0 0;
	vertical-align: middle;
}
/*END MOBILE SECTION*/

/*START PROGRESS BLOCK*/
.progress {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #f4f5f8;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	padding: 69px 0 60px 0;
	box-sizing: border-box;
}
.progress-item {
	padding: 0 80px 0 0;
	box-sizing: border-box;
}
.progress-item:last-child {
	padding: 0;
}
.progress-item::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 30px;
	border: 2px solid #fff;
}
.progress-item-pic {
	display: block;
	margin: 0 auto;
	fill: #c7b299;
}
.progress-item-txt-number {
	display: block;
	font-size: 48px;
	line-height: 36px;
	font-weight: 200;
	color: #ffffff;
	margin: 0 auto;
	padding: 0 0 13px 0;
	box-sizing: border-box;
}
.progress-item-txt {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #c7b299;
	text-align: center;
	padding: 30px 0 30px 0;
	box-sizing: border-box;
}
/*END PROGRESS BLOCK*/

/*START RECENTS POST BLOCK*/
.recent-posts {
	width: 100%;
	padding: 82px 0 80px 0;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.recent-posts-title {
	width: 100%;
	font-family: 'Raleway';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	text-align: center;
}
.recent-posts-txt {
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: center;
	max-width: 760px;
	margin: 0 auto;
	padding: 30px 0 40px 0;
	box-sizing: border-box;
}
.recent-posts-wrp {
	width: 100%;
	display: flex;
	justify-content: center;
}
.recent-posts-item {
	max-width: 370px;
	position: relative;
	margin: 0 30px 0 0;
	padding: 0 0 33px 0;
	box-sizing: border-box;
	background-color: rgba(119,119,119,0.0);
	border: 1px solid #f8f8f8;
}
.recent-posts-item:last-child {
	margin: 0;
}
.recent-posts-item::before {
	content: "30";
	display: block;
	text-align: center;
	font-size: 24px;
	line-height: 20px;
	font-weight: 300;
	color: #ffffff;
	width: 50px;
	height: 35px;
	background-color: #363636;
	border-radius: 3px 3px 0px 0px;
	padding: 9px 0 9px 0;
	position: absolute;
	top: 20px;
	left: 20px;
}
.recent-posts-item::after {
	content: "Sep.";
	display: block;
	text-align: center;
	font-family: 'Roboto';
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #ffffff;
	width: 50px;
	height: 25px;
	background-color: #252525;
	border-radius: 0px 0px 3px 3px;
	position: absolute;
	top: 55px;
	left: 20px;
	padding: 3px 0 3px 0;
}
.recent-posts-item:hover {
	background-color: #362f2d;
}
.recent-posts-item:hover::before {
	background-color: #c7b299;
}
.recent-posts-item:hover::after {
	background-color: #a48d72;
}
.recent-posts-item:hover .recent-posts-item-pic {
 	opacity: 0.3;
}
.recent-posts-item:hover .recent-posts-item-title {
	color: #c7b299;
}
.recent-posts-item:hover .recent-posts-item-txt {
	color: #fff;
}
.recent-posts-item-title {
	padding: 30px 0 0 29px;
	box-sizing: border-box;
	font-family: 'Raleway';
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #555555;
}
.recent-posts-item-txt {
	padding: 19px 0 27px 29px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: #8c8c8c;
}
.recent-posts-item-btn {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #c7b299;
	padding: 0 0 0 29px;
	box-sizing: border-box;
}
.recent-posts-item-btn::after {
	content: url(../img/triangle.svg);
	display: inline-block;
	width: 5px;
	height: 8px;
	padding: 0 0 0 5px;
}
.recent-posts-item-btn:hover {
	color: #917553;
}
.recent-posts-item-btn:active {
	color: #555;
}
.recent-posts-nav {
	margin: 0 auto;
	padding: 40px 0 0 0;
	box-sizing: border-box;
}
.recent-posts-nav-item {
	padding: 0 8px 0 0;
}
.recent-posts-nav-item:last-child {
	padding: 0;
}
.recent-posts-nav-item-pic {
	fill: #d1d1d1;
}
.recent-posts-nav-item-pic:hover {
	fill: #c7b299;
}
.recent-posts-nav-item-pic:active {
	fill: #675e56;
}
/*END RECENTS POST BLOCK*/

/*START PARTNERS BLOCK*/
.partners {
	width: 100%;
	padding: 140px 0 140px 0;
	box-sizing: border-box;
	background: url(../img/partners-background.jpg) no-repeat center;
	background-size: cover;
	background-color: #2d3034;
}
.partners-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.partners-list-item {
	padding: 0 90px 0 0;
	box-sizing: border-box;
	align-self: center;
}
.partners-list-item:last-child {
	padding: 0;
}
/*END PARTNERS BLOCK*/

/*START PAGE FOOTER BLOCK*/
.social {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #191919;
	padding: 80px 0 80px 0;
	box-sizing: border-box;
}
.social-item {
	padding: 0 40px 0 0;
}
.social-item:last-child {
	padding-left: 0;
}
.solial-about-company {
	max-width: 260px;
}
.solial-about-company-logo {
	display: flex;
}
.solial-about-company-logo-pic {
	fill: #fff;
}
.solial-about-company-logo-txt {
	font-family: 'Raleway';
	font-size: 34px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.04em;
	color: #ffffff;
	align-self: center;
}
.social-about-company-txt {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #555555;
	padding: 29px 0 33px 0;
	box-sizing: border-box;
}
.social-about-company-btn {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #d1d1d1;
}
.social-about-company-btn-arrow {
	fill: #fff;
}
.social-about-company-btn:hover {
	color: #d1a47d;
}
.social-about-company-btn:active {
	color: #555;
}
.social-about-company-btn:hover .social-about-company-btn-arrow {
	fill: #d1a47d;
}
.social-about-company-btn:active .social-about-company-btn-arrow {
	fill: #555;
}
.social-recent-posts {
	max-width: 260px;
	display: flex;
	flex-direction: column;
}
.social-recent-posts-title {
	font-family: 'Raleway';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	padding: 20px 0 33px 0;
	box-sizing: border-box;
}
.social-recent-posts-item {
	padding: 0 0 10px 0;
	box-sizing: border-box;
}
.social-recent-posts-item:hover .social-recent-posts-item-time {
	color: #fff;
}
.social-recent-posts-item:hover .social-recent-posts-item-txt {
	color: #c7b299;
}
.social-recent-posts-item-time {
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	color: #363636;
}
.social-recent-posts-item-txt {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #555555;
	padding: 10px 0 21px 0;
	box-sizing: border-box;
}
.social-recent-posts-item hr {
	width: 260px;
	height: 2px;
	background-color: #252525;
	border: none;
}
.twitter {
	max-width: 260px;
	display: flex;
	flex-direction: column;
}
.social-twitter-title {
	font-family: 'Raleway';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	padding: 20px 0 33px 0;
	box-sizing: border-box;
}
.social-twitter-item {
	padding: 0 0 20px 0;
	box-sizing: border-box;
}
.social-twitter-item-txt {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #555;
}
.social-twitter-item-txt-blue {
	color: #00bff3;
}
.social-twitter-item-link {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #959595;
}
.social-twitter-item-link:hover {
	color: #c2c2c2;
}
.social-twitter-item-link:active {
	color: #666666;
}
.social-twitter-item-time {
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	color: #363636;
}
.social-twitter-item hr {
	width: 260px;
	height: 2px;
	background-color: #252525;
	border: none;
	margin: 20px 0 0 0;
}
.dribbble {
	max-width: 300px;
	padding: 20px 0 0 0;
	box-sizing: border-box;
}
.social-dribbble-title {
	font-family: 'Raleway';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
}
.social-dribbble-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	padding: 26px 0 0 0;
	box-sizing: border-box;
}
.social-dribble-list-item {
	padding: 10px;
	box-sizing: border-box;
}
.bottom-menu {
	width: 100%;
	padding: 45px 0 52px 0;
	box-sizing: border-box;
	background-color: #111111;
}
.bottom-menu-wrp {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.bottom-menu-nav-list {
	list-style-type: none;
	display: flex;
}
.bottom-menu-nav-list-item {
	padding: 0 10px 0 0;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	color: #555555;
}
.bottom-menu-nav-list-item::after {
	content: "";
	border-left: 2px solid #252525;
	margin: 0 0 0 8px;
}
.bottom-menu-nav-list-item:last-child:after {
	content: "";
	border: none;
}
.bottom-menu-nav-list-item span {
	color: #959595;
}
.bottom-menu-nav-list-item-link {
	color: #555555;
}
.bottom-menu-nav-list-item-link:hover {
	color: #c7b299;
}
.bottom-menu-nav-list-item-link:active {
	color: #736357;
}
.bottom-menu-rights-list {
	list-style-type: none;
	display: flex;
}
.bottom-menu-rights-list-item {
	padding: 0 10px 0 0;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	color: #555555;
}
.bottom-menu-rights-list-item:first-child::after {
	content: "";
	border-left: 2px solid #252525;
	margin: 0 0 0 8px;
}
.bottom-menu-rights-list-item span {
	color: #959595;
}
/*END PAGE FOOTER BLOCK*/